<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atm.mapper.BlogLikeMapper">

  <cache />

  <select id="list" resultType="BlogLike">
    select bloglike.*
      from bloglike
     where bloglike.blogid = #{blogid}
  order by bloglike.userid desc
      <if test="start != null and num != null">
     limit #{start}, #{num}
      </if>
  </select>
  
  <insert id="insert">
    insert ignore
      into bloglike
       set bloglike.blogid = #{blogid},
           bloglike.userid = #{userid}
  </insert>

  <delete id="delete">
    delete
      from bloglike
     where bloglike.userid = #{userid}
      <if test="blogid != null">
       and bloglike.blogid = #{blogid}
      </if>
  </delete>

  <delete id="clear">
    delete
      from bloglike
     where bloglike.blogid = #{blogid}
        or bloglike.blogid in (
           select blog.id
             from blog
            where blog.refid = #{blogid} )
  </delete>

  <select id="count" resultType="Long">
    select count(*)
      from bloglike
     where bloglike.blogid = #{blogid}
  </select>

</mapper>
